<div class="col-xs-18 pdng-stn1">
                <div class="signup-box">
                    <div class="signup-top">

                        <div class="followers-nav">
                            <div class="pull-left folw-nv">
                                <a href=""><i class="fa fa-long-arrow-left re-sty4"></i></a>
                            </div>
                            <div class="pull-left folw-nv">
                                <p>Sign up</p>
                       <depp></depp>     </div>
                            <div class="pull-left folw-nv sign-up-a">
                                <a href="#">Done</a>
                            </div>
                        <div class="clearfix"></div>
                            </div>
                        <div class="signup-banner">
                            <a href="#"><img src="images/signupbg.jpg" class="img-circle img-widsign"></a>
                            <a href="#"><i class="fa fa-camera sign-up-camera"></i></a>
                            <input type="file" value="Choose file..">
                        </div>
                    </div>
                    <div class="signup-bottom">
                        <div class="form">
                            <input type="text" class="name" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"/>
                            <input type="text" class="name" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"/>
                            <input type="text" class="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/><br>
                            <input type="password" class="password" value="Choose a Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/><br>
                            <input type="text" class="number" value="+1 Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}"/><br>
                            <a href="#" class="btn btn-default signup-btn" role="button">Get Started <i class="fa fa-long-arrow-right signup-arw"></i></a>
                        </div>
                    </div>
                </div>
            </div>